@using GradSchooler.Controllers;
@{
    string u = ViewBag.User;
    string date = ViewBag.Date;
    @Scripts.Render("~/bundles/custom") 
}

<!DOCTYPE html>
<html>
<head runat="server">
	<title>&nbsp;<h2>Program Deadlines</h2></title>
</head>
<body>
<iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=oo05b89hcnug8u7hsabrs2u5l0%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<br/><h3><a href="@Url.Action("Deadline", "Calendar")"> Have a dead line to submit? Click here!</a></h3>	    
</body>