@{

}
<h2></h2>
<h3>Welcome to GradSchooler!</h3>
<html>
<head>
</head>
<body>
    <div class="container">
        <div class="section">
                <div class="row">
                    <div class="col s12 center">
                            <h3></h3>
                            <p><img class="card-img-bottom" src="/Media/books.jpg"></p>

                            <p>
                            Jessica and Isiah are two students from the Pacific Northwest studying Computer Science.<br/><br/>
                            GradSchooler is their senior symposium capstone project. They were inspired to make the web app
                            because of how difficult it was during their research and application process to find
                            consolodated and accessible information about graduate schools on the internet.
                            </p>
                            <p>
                            In their free time, they enjoy eating sushi and dreaming up ideas to solve problems they find annoying.
                            </p>
                    </div>
                </div>

          <div class="row">
            <div class="col s12 left-align">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <p class="left-align light">
                  The best way to reach us is to send an email <a href="mailto:jessicachase19@gmail.com"><i class="far fa-envelope"></i> jessicachase19@gmail.com </a>
              </p>
            </div>
          </div>

        </div>
      </div>
 </body>
 </html>