@{
    //System.Diagnostics.Debug.WriteLine("HERE!!!!!");
    ViewBag.Title = "About";
    //var testInfo = ViewBag.uninames;
    //var j = ViewBag.i;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information. This is a test:
</p>
