@{
    ViewBag.Title = "About";
    var testInfo = ViewBag.uninames;

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information. 
    @foreach (var item in testInfo)
    {
            @item.state
    }   
</p>
