<html>
<head>
        <h3>&nbsp; Welcome to GradSchooler! <br/></h3>
</head>
<body>
<div class="d-flex justify-content-between">
    <div class="col-md-4">
        <div class="img">
            <img src="/Media/sushii.jpg" alt="Sushi" style="width:100%">
            <div class="caption">
              <p>In their free time, they enjoy eating sushi and dreaming up ideas to solve problems they find annoying.</p>
            </div>
        </div>            
    </div>

            
    <div>       
        <p>
        Jessica and Isiah are two students from the Pacific Northwest studying Computer Science.<br/><br/>
        GradSchooler is their senior symposium capstone project. They were inspired to make the web app
        because of how difficult it was during their research and application process to find
        consolidated and accessible information about graduate schools on the internet.

        <br/><br/>


        The best way to reach us is to send an email <br/> 
        <a href="mailto:ilbehner@gmail.com"><i class="far fa-envelope"></i> ilbehner@gmail.com </a><br/>            
        <a href="mailto:jessicachase19@gmail.com"><i class="far fa-envelope"></i> jessicachase19@gmail.com </a><br/>

        </p>
    </div> 
    
</div>
</body>
</html>