@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GradSchooler</h1>
    <p class="lead">Gradschooler is website that compiles various resources 
        regarding preparation for users looking to apply to graduate programs. 
        The main concepts of the project include matching users to specific 
        graduate programs, various Graduate Record Examination (GRE) 
    preparation and a resource of graduates with Computer Science degrees.</p>
    <p><a href="https://github.com/chasejh/gradschooler/" target="_blank" class="btn btn-primary btn-lg"><i class="fab fa-github-square"></i> View source code &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>UNIVERSITIES</h2>
        <p>
            Find your ideal gradschool! Browse by program, location, environment & more.
            

        </p>
        <p>@Html.ActionLink("Universities", "University", "University")</p>
    </div>
    <div class="col-md-4">
        <h2>PROGRAMS</h2>
        <p>Look up programs that fit your interests. View acceptance rates & other program stats.</p>
        <p>@Html.ActionLink("Programs", "Program", "Program")</p>
    </div>
    <div class="col-md-4">
        <h2>LOGIN</h2>
        <p>Log in to your account to save favorite gradschools & programs. Create a calendar to keep up with application deadlines & GRE prep.</p>
        <p>@Html.ActionLink("Login", "Index", "Home")</p>
    </div>
</div>