<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GradSchooler</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <table>
        <tr>
            <th>University</th>
            <th>Funding</th>
            <th>City</th>
            <th>State</th>
            <th>Environment</th>
        </tr>
        <tr>
            <td>Stuff</td>
            <td>Stuff</td>
            <td>Stuff</td>
            <td>Stuff</td>
            <td>Stuff</td>
        </tr>
        <tr>
            <td>Stuff</td>
            <td>Stuff</td>
            <td>Stuff</td>
        </tr>
        <tr>
            <td>Stuff</td>
            <td>Stuff</td>
            <td>Stuff</td>
        </tr>
        <tr>
            <td>Stuff</td>
            <td>Stuff</td>
            <td>Stuff</td>
        </tr>
        <tr>
            <td>Stuff</td>
            <td>Stuff</td>
            <td>Stuff</td>
        </tr>
        <tr>
            <td>Stuff</td>
            <td>Stuff</td>
            <td>Stuff</td>
        </tr>
    </table>

</body>
</html>
