body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #536DFE;
    border-color: #536DFE;
}

/*This changes the GradSchooler title color, seperate from navbar*/
.navbar-brand:visited {
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: black;
    background-color: pink;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://thumbs.dreamstime.com/b/owl-cute-owl-watercolor-forest-bird-school-books-illustration-cartoon-bird-background-80666953.jpg);
    background-attachment: fixed;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /*text-shadow: b 0.9em 0.3em 0.3em*//
}



