body {
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*This changes the GradSchooler title color, seperate from navbar*/
.navbar-brand:visited {
    color: black;
}

.jumbotron jumbotron-fluid {
    background-image: url(‘https://pmcdeadline2.files.wordpress.com/2015/08/scooby-doo.jpg?crop=193px%2C0px%2C707px%2C474px&resize=446%2C299’);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: pink;
    color: black;
}






