body {
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*This changes the GradSchooler title color, seperate from navbar*/
.navbar-brand:visited {
    color: black;
}

.jumbotron-fluid{
    background-image: url("../Media/books.jpg");
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    min-height: 400px;
    color: black;
}

.card-img-bottom {
    color: #fff;
    height: 20rem;
    background: url(/Media/books.jpg) center no-repeat;
    background-size: cover;

}

#unis {
    text-align: left;
}






